body {
background-color: #545454;
margin: 0;
padding: 0; }

.navigationBarContainer {
background-color: #2d2d2d;
margin-top: 0;
margin-bottom: 0;
margin-left: 20px;
margin-right: 20px;
padding: 0;
color: #c6c6c6;
font-family: 'Open Sans', sans-serif; }

.imageCoverPhoto {
width: 100%;
height: 45vh;
position: relative;
overflow: hidden; }

.imageCoverPhotoBackground {
width: 100%;
height: auto;
position: absolute;
top: 50%;
transform: translateY(-50%);
opacity: 0.5; }

.textCoverPhoto {
bottom: -44vh; 
position: absolute;
width: 100%;
margin: 0;
padding: 0; }

.moviePosterPhoto {
top: -23vh;
position: absolute;
width: 100%;
padding-right: 20%; }

.movieYearLabel {
background-color: whitesmoke;
display: inline-block;
color: #545454;
margin: 0;
padding-left: 4px;
padding-right: 4px;
font-size: 1.5em;
font-family: 'Open Sans Light', sans-serif;
font-weight: 100; }

.movieTitleLabel {
color: whitesmoke;
margin-top: -0.18em;
padding: 0;
font-size: 3.5em;
font-weight: 400;
font-family: 'Oswald', sans-serif; }

.scaryMeterRatingTitleLabel {
color: whitesmoke;
margin-top: -0.6em;
padding: 0;
font-size: 1.4em;
font-family: 'Open Sans Light', sans-serif;
font-weight: 100; }

.overallScaryMeterRatingBar {
background-color: #be3e3e; 
height: 2em;
width: 100%; }

.scaryMeterRatingNumberLabel {
background-color: #545454;
color: #c6c6c6;
margin: 0;
padding: 0;
font-size: 1.4em;
font-family: 'Open Sans', sans-serif;
text-align: center;
font-weight: 800; }

.categoryTitleLabel {
color: #c6c6c6;
background-color: #2d2d2d;
margin: 0;
padding-left: 4px;
padding-right: 4px;
font-size: 1.2em;
font-family: 'Open Sans', sans-serif;
text-align: center;
text-transform: uppercase; }

.categoryNumberLabel {
color: #c6c6c6;
background-color: #2d2d2d;
margin: 0;
padding: 0;
font-size: 1.2em;
font-family: 'Open Sans', sans-serif;
text-align: center; }

.ratingAndLengthLabel {
color: #c6c6c6;
background-color: #2d2d2d;
margin: 0;
padding: 0;
font-size: 1em;
font-family: 'Open Sans', sans-serif; }

.descriptionOfMovieCategoryLabel {
color: #2d2d2d;
font-size: 1.1em;
font-family: 'Open Sans', sans-serif;
background-color: #999999;
margin-top: 0.7vh;
padding: 10px;
text-transform: uppercase; }

.descriptionOfMovieLabel {
color: #c6c6c6;
font-size: 1.1em;
font-family: 'Open Sans', sans-serif;
background-color: #2d2d2d;
margin-top: 0.7vh;
padding: 10px; }

.subMeters {
margin-top: 0.7vh; }

.similarlyRatedTitlesLabel {
padding: 10px;
margin-top: 1vh;
background-color: #2d2d2d;
color: #c6c6c6;
font-family: 'Open Sans', sans-serif;
font-size: 1.6em; }