/*STYLE GUIDE

    WHITESMOKE COLOUR = #F5F5F5
    DARK GREY COLOUR = #555555
    MEDIUM GREY COLOUR = #9D9D9D
    LIGHT GREY COLOUR = #DEDEDE
    BACKGROUND OF COVER PHOTO = #B2B2B2

*/


body {
    background-color: #DEDEDE;
}

p {
    margin: -3px;
}


/*.navigationBarStyle {
    background-color: #555555;
    color: #F5F5F5;
    font-family: 'Open Sans', sans-serif
}*/


/*Makes it so that the menu items in the navbar dropdown on hover - https://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click*/
.dropdown-menu li:hover {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
/*End dropdown on hover*/


.imageCoverPhoto {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: #B2B2B2;
}

#imageCoverPhotoBackground {
    width: 100%;
    height: auto;
    opacity: 0.75;
    top: -5%;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.movieBox {
    top: 15vh;
    position: absolute;
}

.moviePosterPhoto {
}

#moviePosterPhotoChild {
    width: 100%;
}

.movieBoxDescriptionContainer {
    margin-top: 35px;
    padding-left: 20px;
}

#movieYearLabel {
    background-color: #555555;
    display: inline-block;
    color: #F5F5F5;
    font-size: 1.3em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
    padding: 2px;
}

#movieTitleLabel {
    color: #555555;
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

#tagline {
    color: #9D9D9D;
    font-size: 1.3em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
    font-style: italic;
}

#descriptionOfMovieLabelPlot {
    color: #9D9D9D;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
}

#descriptionOfMovieLabelDirector {
    color: #9D9D9D;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
}

#descriptionOfMovieLabelActors {
    color: #9D9D9D;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
}

#mpaaRating {
    color: #9D9D9D;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
}

#runtime {
    color: #9D9D9D;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
}

.descriptionOfLabel {
    color: #555555;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: bold;
}


/*The following makes the text change size when window is reduced in size - for responsive purposes*/

@media screen and (max-width: 767px) /*This is the exact size of when the navbar collapses*/{

    .navbar-form {
        margin: 0;
        border: 0;
        box-shadow: none;
    }

    .form-control {
        font-size: 12px;
    }

    .imageCoverPhoto {
        width: 100%;
        height: 60vh;
        overflow: hidden;
        background-color: #B2B2B2;
    }

    .movieBox {
        top: 15vh;
        position: absolute;
    }

    .movieBoxDescriptionContainer {
        margin-top: 10px;
        padding-left: 5px;
    }

    #movieYearLabel {
        background-color: #555555;
        display: inline-block;
        color: #F5F5F5;
        font-size: 0.65em;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: 100;
        padding: 2px;
    }

    #movieTitleLabel {
        color: #555555;
        font-size: 1.25em;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
    }

    #tagline {
        color: #9D9D9D;
        font-size: 0.65em;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    #descriptionOfMovieLabelPlot {
        color: #9D9D9D;
        font-size: 0.6em;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: 100;
    }

    #descriptionOfMovieLabelDirector {
        color: #9D9D9D;
        font-size: 1em;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: 100;
    }

    #descriptionOfMovieLabelActors {
        color: #9D9D9D;
        font-size: 1em;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: 100;
    }

    #mpaaRating {
        color: #9D9D9D;
        font-size: 1em;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: 100;
    }

    #runtime {
        color: #9D9D9D;
        font-size: 1em;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: 100;
    }

    .descriptionOfLabel {
        color: #555555;
        font-size: 0.5em;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: bold;
    }

}


@media screen and (max-width: 600px) {

    .imageCoverPhoto {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        background-color: #B2B2B2;
    }

}

/*End of responsive CSS*/


.overallScaryMeterRatingNumberStyle {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-top: 4px;
    font-size: 1.3em;
    text-align: center;
}

.overallMeterCoverPhoto {
    top: 15vh;
    position: absolute;
}

.subScaryMeterRatingBarLabel {
    float: right;
    color: #555555;
    margin-top: 5px;
    margin-right: 8px;
    font-size: 1em;
}

.subScaryMeterRatingBarSection {
    padding: 0;
    margin: 0;
    width: 100%;
}

.progress {
    margin: 0;
    padding: 0;
    height: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: none;
}

.progress-bar {
    box-shadow: none;
    font-size: 15px;
    padding-top: 6px;
}

.similarlyRatedMoviesLabel {
    font-style: italic;
    font-size: 2em;
    color: #555555;
    margin-top: 30px;
}











    /*TEST SLIDER FOR RATING MOVIES - https://www.w3schools.com/howto/howto_js_rangeslider.asp*/

    .slidecontainer {
        width: 100%; /* Width of the outside container */
        opacity: 0;
        transition: .15s ease;
    }

    .overallScaryMeterRatingBarContainer:hover .slidecontainer {
        opacity: 1;
    }

    /* The slider itself */
    .slider {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        width: 100%;
        height: 8px;
        background: #F5F5F5;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }

        /* Mouse-over effects */
        .slider:hover {
            opacity: 1; /* Fully shown on mouse-over */
        }

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 10px;
            height: 25px;
            background: #e54b4b; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }

        .slider::-moz-range-thumb {
            width: 10px; /* Set a specific slider handle width */
            height: 25px; /* Slider handle height */
            background: #e54b4b; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }