/*STYLE GUIDE

    WHITESMOKE COLOUR = #F5F5F5
    DARK GREY COLOUR = #555555
    MEDIUM GREY COLOUR = #9D9D9D
    LIGHT GREY COLOUR = #DEDEDE
    BACKGROUND OF COVER PHOTO = #B2B2B2

*/


body {
    background-color: #DEDEDE;
}

p {
    margin: -3px;
}

/*Makes it so that the menu items in the navbar dropdown on hover - https://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click*/
.dropdown-menu li:hover {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
/*End dropdown on hover*/

.navigationBarContainer {
    background-color: #555555;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    color: #F5F5F5;
    font-family: 'Open Sans', sans-serif
}

.imageCoverPhoto {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: #B2B2B2;
}

#imageCoverPhotoBackground {
    width: 100%;
    height: auto;
    opacity: 0.5;
    top: -5%;
}

.textCoverPhoto {
    top: 15vh;
    position: absolute;
}

.moviePosterPhoto {
}

#moviePosterPhotoChild {
    width: 100%;
}

#movieYearLabel {
    background-color: #555555;
    display: inline-block;
    color: #F5F5F5;
    font-size: 1.3em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
    padding: 2px;
}

#movieTitleLabel {
    color: #555555;
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

#tagline {
    color: #9D9D9D;
    font-size: 1.3em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
    font-style: italic;
}

#descriptionOfMovieLabelPlot {
    color: #9D9D9D;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
}

#descriptionOfMovieLabelDirector {
    color: #9D9D9D;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
}

#descriptionOfMovieLabelActors {
    color: #9D9D9D;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
}

#mpaaRating {
    color: #9D9D9D;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
}

#runtime {
    color: #9D9D9D;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
}

.descriptionOfLabel {
    color: #555555;
    font-size: 1em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: bold;
}

.overallScaryMeterRatingNumber {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-top: 4px;
    font-size: 1.3em;
    text-align: center;
}

.overallMeterCoverPhoto {
    top: 15vh;
    position: absolute;
}

.subScaryMeterRatingBarLabel {
    float: right;
    color: #555555;
    margin-top: 5px;
    font-size: 1em;
}

.subScaryMeterRatingBarSection {
    padding: 0;
    margin: 0;
    width: 100%;
}





/************PROGRESS BAR*************/

/*Progress bar tutorial: https://css-tricks.com/css3-progress-bars/*/

.overallScaryMeterRatingBar {
    height: 30px;
    position: relative;
    background: #545454;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
    /*box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3)*/
}

    .overallScaryMeterRatingBar > span {
        display: block;
        height: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: rgb(43,194,83);
        /* Gradient:
    background-image: linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,249,84) 69% );
    box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4); */
        position: relative;
        overflow: hidden;
    }

        .overallScaryMeterRatingBar > span:after, .animate > span > span {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            -webkit-background-size: 50px 50px;
            -moz-background-size: 50px 50px;
            -webkit-animation: move 2s linear infinite;
            -webkit-border-top-right-radius: 0px;
            -webkit-border-bottom-right-radius: 0px;
            -moz-border-radius-topright: 0px;
            -moz-border-radius-bottomright: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            -webkit-border-top-left-radius: 0px;
            -webkit-border-bottom-left-radius: 0px;
            -moz-border-radius-topleft: 0px;
            -moz-border-radius-bottomleft: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            overflow: hidden;
        }

.animate > span:after {
    display: none
}

@-webkit-keyframes move {
    0%

    {
        background-position: 0 0
    }

    100% {
        background-position: 50px 50px
    }

}


.subScaryMeterRatingBar {
    height: 30px;
    position: relative;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
}

    .subScaryMeterRatingBar > span {
        display: block;
        height: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: rgb(43,194,83);
        /* Gradient:
    background-image: linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,249,84) 69% );
    box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4); */
        position: relative;
        overflow: hidden
    }

        .subScaryMeterRatingBar > span:after, .animate > span > span {
            content: "9.2";
            text-align: right;
            margin-top: 5px;
            margin-right: 10px;
            color: white;
            /*The above text controlls what number goes inside the animated progress bar*/
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            -webkit-background-size: 50px 50px;
            -moz-background-size: 50px 50px;
            -webkit-animation: move 2s linear infinite;
            -webkit-border-top-right-radius: 0px;
            -webkit-border-bottom-right-radius: 0px;
            -moz-border-radius-topright: 0px;
            -moz-border-radius-bottomright: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            -webkit-border-top-left-radius: 0px;
            -webkit-border-bottom-left-radius: 0px;
            -moz-border-radius-topleft: 0px;
            -moz-border-radius-bottomleft: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            overflow: hidden
        }

.animate > span:after {
    display: none
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 50px 50px
    }
}


.overallRed > span {
    background-image: linear-gradient(to bottom, #cc3333, #cc3333);
}

.creepyBlue > span {
    background-image: linear-gradient(to bottom, #3366cc, #3366cc);
}

.goryGreen > span {
    background-image: linear-gradient(to bottom, #009966, #009966);
}

.jumpyYellow > span {
    background-image: linear-gradient(to bottom, #ffcc66, #ffcc66);
}


/************END OF PROGRESS BAR*************/







.similarlyRatedMoviesLabel {
    font-style: italic;
    font-size: 2em;
    color: #555555;
    margin-top: 30px;
}







/*TEST SLIDER FOR RATING MOVIES - https://www.w3schools.com/howto/howto_js_rangeslider.asp*/

.slidecontainer {
    width: 100%; /* Width of the outside container */
    opacity: 0;
    transition: .15s ease;
}

.overallScaryMeterRatingBar:hover .slidecontainer {
    opacity: 1;
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 8px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 10px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #4CAF50; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
        width: 10px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #4CAF50; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }